.reservation {
  color: teal;
  background-color: rgb(231, 234, 237);
  width: 90%;
  margin: 10px;
  border: 3px solid teal;
  border-radius: 10px;
}

.cancel-button {
  width: 80%;
  margin: 5px;
  background-color: teal;
  color:rgb(231, 234, 237);
  border: none;
  height: 2em;
}